* {
  margin: 0;
  color: rgb(93, 87, 87);
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(230, 226, 224);
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(146, 144, 144, 0.804);
}

.navbar h1 {
  color: brown;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: brown;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  border-bottom: 1px solid rgba(146, 144, 144, 0.804);
}




.blog-preview a {
  text-decoration: none;
}